############################################################
#  Postgres Environment Variables
############################################################

# ──────────────── Basics ────────────────
# TZ -- System timezone, duh
# Format: Region/City
# Required
TZ=

# PUID -- User ID for NFS connection
# Format: int
# Default: 0
# Optional
PUID=

# PGID -- User group ID for NFS connection
# Format: int
# Default: 0
# Optional
PGID=

# VERSION -- Tag of image version to use
# Note: Prevents accidental update when new release appears on registry
# Format: 1.2.3
# Default: 1.0.0
# Optional
VERSION=

# ──────────────── Authentication ────────────────
# POSTGRES_USER -- Primary database superuser
# Format: string
# Required
POSTGRES_USER=

# POSTGRES_PASSWORD -- Password for database superuser
# Format: string
# Required
POSTGRES_PASSWORD=

# ──────────────── Storage ────────────────
# SSD_IMPORTANT_DATA_DIR -- Root directory on fast storage (SSD/NVMe) for important data
# Note: Used for service data requiring high I/O performance and replication
# Default: ./postgres
# Required
SSD_IMPORTANT_DATA_DIR=

# SSD_DISPENSABLE_DATA_DIR -- Root directory on fast storage (SSD/NVMe) for dispensable data
# Note: Used for service data requiring high I/O performance, but not requiring replication
# Optional
SSD_DISPENSABLE_DATA_DIR=

# HDD_IMPORTANT_DATA_DIR -- Root directory on large-capacity storage (HDD/NAS)
# Note: Used for service data that require replication and is large in size but not performance-critical
# Default: ./postgres
# Required
HDD_IMPORTANT_DATA_DIR=

# HDD_DISPENSABLE_DATA_DIR -- Root directory on large-capacity storage (HDD/NAS)
# Note: Used for service data that don't require replication and is large in size but not performance-critical
# Optional
HDD_DISPENSABLE_DATA_DIR=
