TAG=
ASPNETCORE_ENVIRONMENT=
Jwt__Key=
Jwt__Issuer=
Jwt__Audience=
VkConfig__AppId=
AllowedHosts=
Cors__AllowedOrigins__0=
Cors__AllowedOrigins__1=
Cors__AllowedOrigins__2=
ASPNETCORE_HTTP_PORTS=
ASPNETCORE_URLS=
