############################################################
#  It-Tools Environment Variables
############################################################

# ──────────────── Basics ────────────────
# TZ -- System timezone, duh
# Format: Region/City
# Required
TZ=

# VERSION -- Tag of image version to use
# Note: Prevents accidental update when new release appears on registry
# Format: release | custom tag
# Default: nightly
# Optional
VERSION=

# ──────────────── Networking ────────────────
# PUBLIC_DOMAIN -- Public domain for user access
# Note: Used in Traefik labels (router rules)
# Format: your.domain.com
# Required
PUBLIC_DOMAIN=