############################################################
#  OnLogs Environment Variables
############################################################

# ──────────────── Basics ────────────────
# TZ -- System timezone, duh
# Format: Region/City
# Required
TZ=

# VERSION -- Tag of image version to use
# Note: Prevents accidental update when new release appears on registry
# Format: 1.2.3 | custom tag
# Default: 1.1.10
# Optional
VERSION=

# ──────────────── Networking ────────────────
# PUBLIC_DOMAIN -- Public domain for user access
# Note: Used in Traefik labels (router rules)
# Format: your.domain.com
# Required
PUBLIC_DOMAIN=

# PORT -- Port for web interface
# Default: 8798
# Required
PORT=

# ──────────────── Access ────────────────
# ADMIN_USERNAME -- Username for web interface authentication
# Required
ADMIN_USERNAME=

# ADMIN_PASSWORD -- Password for web interface authentication
# Required
ADMIN_PASSWORD=

# ──────────────── Storage ────────────────
# MAX_LOGS_SIZE -- Maximum total log storage size
# Format: number with unit
# Example: 500MB
# Default: 1GB
# Optional
MAX_LOGS_SIZE=
