############################################################
#  RabbitMQ Environment Variables
############################################################

# ──────────────── Authentication ────────────────
# RABBITMQ_DEFAULT_USER -- Username for RabbitMQ management and messaging
# Format: string
# Required
RABBITMQ_DEFAULT_USER=

# RABBITMQ_DEFAULT_PASS -- Password for RabbitMQ user
# Format: string
# Required
RABBITMQ_DEFAULT_PASS=
