############################################################
#  Nextcloud Environment Variables
############################################################

# ──────────────── Basics ────────────────
# TZ -- System timezone
# Format: Region/City
# Required
TZ=

# NC_VERSION -- Tag of image version to use
# Note: Prevents accidental update when new release appears on registry
# Format: 1.2.3-tag
# Default: 31.0.11-apache
# Optional
NC_VERSION=

# NEXTCLOUD_CRON_PERIOD -- Cron execution interval
# Format: number + unit (e.g. 5m, 1h)
# Default: 5m
# Optional
NEXTCLOUD_CRON_PERIOD=

# ──────────────── Nextcloud Database ────────────────
# POSTGRES_HOST -- Database hostname
# Default: postgres
# Required
POSTGRES_HOST=

# POSTGRES_DB -- Database name
# Default: nextcloud
# Required
POSTGRES_DB=

# POSTGRES_USER -- Database username
# Default: nextcloud
# Required
POSTGRES_USER=

# POSTGRES_PASSWORD -- Database password
# Required
POSTGRES_PASSWORD=

# ──────────────── Networking ────────────────
# NEXTCLOUD_TRUSTED_DOMAINS -- Domains allowed to access Nextcloud
# Format: comma-separated domains
# Example: your.domain.com,another.one.io
# Required
NEXTCLOUD_TRUSTED_DOMAINS=

# OVERWRITEPROTOCOL -- Protocol used when behind reverse proxy
# Possible values: http, https
# Required when using SSL
OVERWRITEPROTOCOL=

# OVERWRITEHOST -- External hostname for reverse proxy
# Format: your.domain.com
# Required
OVERWRITEHOST=

# NC_PUBLIC_DOMAIN -- Public domain for user access
# Note: Used in Traefik labels (router rules)
# Format: your.domain.com
# Required
NC_PUBLIC_DOMAIN=

# ──────────────── Redis ────────────────
# REDIS_HOST -- Redis server hostname
# Default: redis
# Required
REDIS_HOST=

# ─────────────── Setup ────────────────
# NEXTCLOUD_ADMIN_USER -- Initial admin username (only used on first install)
# Note: can be safely removed after initial setup
# Required for first start
NEXTCLOUD_ADMIN_USER=

# NEXTCLOUD_ADMIN_PASSWORD -- Initial admin password (only used on first install)
# Note: can be safely removed after initial setup
# Required for first start
NEXTCLOUD_ADMIN_PASSWORD=

# ──────────────── Storage ────────────────
# NC_SSD_IMPORTANT_DATA_DIR -- Root directory on fast storage (SSD/NVMe) for important data
# Note: Used for service data requiring high I/O performance and replication
# Default: ./nextcloud
# Required
NC_SSD_IMPORTANT_DATA_DIR=

# NC_SSD_DISPENSABLE_DATA_DIR -- Root directory on fast storage (SSD/NVMe) for dispensable data
# Note: Used for service data requiring high I/O performance, but not requiring replication
# Optional
NC_SSD_DISPENSABLE_DATA_DIR=

# NC_HDD_IMPORTANT_DATA_DIR -- Root directory on large-capacity storage (HDD/NAS)
# Note: Used for service data that require replication and is large in size but not performance-critical
# Default: ./nextcloud
# Required
NC_HDD_IMPORTANT_DATA_DIR=

# NC_HDD_DISPENSABLE_DATA_DIR -- Root directory on large-capacity storage (HDD/NAS)
# Note: Used for service data that don't require replication and is large in size but not performance-critical
# Optional
NC_HDD_DISPENSABLE_DATA_DIR=


############################################################
#  OnlyOffice Environment Variables
############################################################
# ──────────────── Basics ────────────────
# OO_VERSION -- Tag of image version to use
# Note: Prevents accidental update when new release appears on registry
# Format: 1.2
# Default: 9.1
# Optional
OO_VERSION=

# ──────────────── OnlyOffice Database ────────────────
# DB_TYPE -- Database type
# Format: postgres/mysql
# Default: postgres
# Required
DB_TYPE=

# DB_HOST -- Database hostname
# Default: postgres
# Required
DB_HOST=

# DB_PORT -- Database port
# Default: 5432
# Optional
DB_PORT=

# DB_NAME -- Database name
# Required
DB_NAME=

# DB_USER -- Database username
# Required
DB_USER=

# DB_PWD -- Database password
# Required
DB_PWD=

# ──────────────── JWT ────────────────
# JWT_ENABLED -- Enables JSON Web Token verification
# Format: bool
# Default: true
# Required
JWT_ENABLED=

# JWT_SECRET -- Secret key for JWT signing
# Required
JWT_SECRET=

# ──────────────── Networking ────────────────
# DOCUMENT_SERVER_URL -- External Document Server URL (for Nextcloud)
# Format: https://your.domain.com
# Required
DOCUMENT_SERVER_URL=

# DOCUMENT_SERVER_HOST -- Internal hostname for Document Server
# Default: 0.0.0.0
# Required
DOCUMENT_SERVER_HOST=

# OO_PUBLIC_DOMAIN -- Public domain for user access
# Note: Used in Traefik labels (router rules)
# Format: your.domain.com
# Required
OO_PUBLIC_DOMAIN=

# ──────────────── RabbitMQ ────────────────
# AMQP_URI -- Message queue endpoint for OnlyOffice
# Format: amqp://user:password@hostname
# Required
AMQP_URI=


# ──────────────── Storage ────────────────
# OO_SSD_IMPORTANT_DATA_DIR -- Root directory on fast storage (SSD/NVMe) for important data
# Note: Used for service data requiring high I/O performance and replication
# Default: ./onlyoffice
# Required
OO_SSD_IMPORTANT_DATA_DIR=

# OO_HDD_DISPENSABLE_DATA_DIR -- Root directory on large-capacity storage (HDD/NAS)
# Note: Used for service data that don't require replication and is large in size but not performance-critical
# Default: ./onlyoffice
# Required
OO_HDD_DISPENSABLE_DATA_DIR=

# USE_UNAUTHORIZED_STORAGE -- Allows connections to storage endpoints with invalid/self-signed TLS certificates
# Warning: Disables strict TLS certificate validation
# true = allow invalid/self-signed certificates
# false = require valid trusted certificates
# Format: bool
# Default: false
# Optional
USE_UNAUTHORIZED_STORAGE=
