############################################################
#  Immich Environment Variables
############################################################

# ──────────────── Basics ────────────────
# TZ -- System timezone, duh
# Format: Region/City
# Required
TZ=

# PUID -- User ID for NFS connection
# Format: int
# Default: 0
# Optional
PUID=33

# PGID -- User group ID for NFS connection
# Format: int
# Default: 0
# Optional
PGID=33

# VERSION -- Tag of image version to use
# Note: Prevents accidental update when new release appears on registry
# Format: v1.2.3
# Default: release
# Optional
VERSION=

# IMMICH_MEDIA_LOCATION -- Path inside container where uploads will be stored
# Note: Variable for application to use, not for compose. Corresponds to /data in docker-compose volume mapping.
# Default: /data
# Required
IMMICH_MEDIA_LOCATION=

# ──────────────── Networking ────────────────
# IMMICH_HOST -- Host address inside container
# Format: IP address
# Default: 0.0.0.0
# Required
IMMICH_HOST=

# IMMICH_SERVER_URL -- Public URL used for API responses, sharing links, and callbacks.
# Note: Should match reverse-proxy domain
# Format: https://your.domain.com
# Required
IMMICH_SERVER_URL=

# PUBLIC_DOMAIN -- Public domain for user access
# Note: Used in Traefik labels (router rules)
# Format: your.domain.com
# Required
PUBLIC_DOMAIN=


# ──────────────── Postgres ────────────────
# POSTGRES_HOST -- Name of DB host if using an external postgres
# Default: postgres
# Optional
# POSTGRES_HOST=

# POSTGRES_DB -- Name of database to connect inside postgres
# Format: string
# Default: immich
# Required
POSTGRES_DB=

# POSTGRES_USER -- Username to connect to database inside postgres
# Format: string
# Default: immich
# Required
POSTGRES_USER=

# POSTGRES_PASSWORD -- Password to connect to database inside postgres
# Format: string
# Required
POSTGRES_PASSWORD=

# ──────────────── Storage ────────────────
# SSD_IMPORTANT_DATA_DIR -- Root directory on fast storage (SSD/NVMe) for important data
# Note: Used for service data requiring high I/O performance and replication
# such as transcode and model cache
# Default: ./immich
# Required
SSD_IMPORTANT_DATA_DIR=

# SSD_DISPENSABLE_DATA_DIR -- Root directory on fast storage (SSD/NVMe) for dispensable data
# Note: Used for service data requiring high I/O performance, but not requiring replication
# such as cache and thumbnails
# Default: ./immich
# Required
SSD_DISPENSABLE_DATA_DIR=

# HDD_IMPORTANT_DATA_DIR -- Root directory on large-capacity storage (HDD/NAS)
# Note: Used for service data that require replication and is large in size but not performance-critical
# such as media libraries, photo archives, uploaded files and long-term storage content
# Default: ./immich
# Required
HDD_IMPORTANT_DATA_DIR=

# HDD_DISPENSABLE_DATA_DIR -- Root directory on large-capacity storage (HDD/NAS)
# Note: Used for service data that don't require replication and is large in size but not performance-critical
# such as media libraries, photo archives, uploaded files and long-term storage content
# Optional
HDD_DISPENSABLE_DATA_DIR=
