############################################################
#  Authentik Environment Variables
############################################################

# Authentik secret key used for signing sessions and tokens
# Format: string
# Required
AUTHENTIK_SECRET_KEY=

# PostgreSQL hostname for Authentik database
# Format: hostname
# Required
AUTHENTIK_POSTGRESQL__HOST=

# PostgreSQL database name for Authentik
# Format: string
# Required
AUTHENTIK_POSTGRESQL__NAME=

# PostgreSQL username for Authentik
# Format: string
# Required
AUTHENTIK_POSTGRESQL__USER=

# PostgreSQL password for Authentik
# Format: string
# Required
AUTHENTIK_POSTGRESQL__PASSWORD=

# Redis hostname for Authentik
# Format: hostname
# Required
AUTHENTIK_REDIS__HOST=

# Public domain used by Traefik ingress/router
# Format: your.domain.com
# Required
PUBLIC_DOMAIN=

# Path to important SSD-backed persistent data directory
# Example: /mnt/ssd-important
# Default: ./auth
# Optional
SSD_IMPORTANT_DATA_DIR=

# Container image version tag
# Example: 2026.2.1
# Format: semver/string
# Default: 2026.2.1
# Optional
VERSION=

# Enable anonymous error reporting for Authentik
# true = enabled
# false = disabled
# Format: boolean
# Default: false
# Optional
AUTHENTIK_ERROR_REPORTING__ENABLED=


# PUID -- User ID for NFS connection
# Format: int
# Default: 0
# Optional
PUID=33

# PGID -- User group ID for NFS connection
# Format: int
# Default: 0
# Optional
PGID=33
